.current {
    width: 70%;
    border-collapse: collapse;
    margin: 20px left;
    font-family: Arial, sans-serif;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    
}

.current th, .current td {
    border: 1px solid black;
    padding: 10px 15px;
    text-align: left;
}

button {

    padding: 15px 30px;  /* increases size inside the button */
    font-size: 18px;     /* makes text larger */
    border-radius: 8px;
    color: whitesmoke;
    background-color: black;

}